.parent{
    margin: auto;
    width: 100%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
  }
  
  form{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  
  label,input{
    display: block;
    text-align: left;
  }
  
  input{
    border: 0px ;
    margin: 5px 0px;
    border-radius: 10px;
    height: 30px;
    font-family: monospace;
    border: 2px solid black;
  }
  
  label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }
  
  .btn{
    background-color: greenyellow;
    font-size: large;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
  }